.img-galerie {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 25px;
}
.container-galerie {
  display: flex;
  position: relative;
  margin-right: 3%;
  margin-left: 3%;
}

.img-vectorL {
  position: absolute;
  bottom: 50%;
  margin-left: 2%;
}

.img-vectorR {
  position: absolute;
  bottom: 50%;
  right: 0;
  margin-right: 2%;
}

.nmb-img {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 50%;
  color: white;
  font-size: 18px;
}
.displayN {
  display: none;
}
.displayT {
  display: block;
}
