@import url('../color.css');
@import url('../font.css');
.error_retour {
  color: #ff6060;
}
h1,
h2 {
  color: #ff6060;
  margin-bottom: 10%;
}
h1 {
  font-weight: 700;
  font-size: 288px;
  margin-bottom: 0%;
  margin-top: 3%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
